<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  {% load tags %}

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  {# bootstrap #}
  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {# material template #}
  {% load staticfiles %}
  <link href="{% static 'bootstrap-material-design/dist/css/ripples.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap-material-design/dist/css/material-wfont.min.css' %}" rel="stylesheet">
  <link rel="apple-touch-icon" type="image/png" href="{{ STATIC_URL }}logo.png"> {# This needs a smaller png to actually work - will supply soon #}

  {# facebook #}
  <script src="{% static 'app.js' %}"></script>

  <title>{% block title %} GoodBets {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<head>

<body style="padding-top: 65px;">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">
             <img style="width:45px; margin-top: -7px;"
             src="{{ STATIC_URL }}logo-inverse.png">
          </a>
          <a class="navbar-brand" href="../">GoodBets</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% active request 'home' %}"><a href="../">Home</a></li>
            <li class="{% active request 'challenge' %}"><a href="../challenge">Bet</a></li>
            <li class="{% active request 'feed' %}"><a href="../feed">Feed</a></li>
            <li class="{% active request 'myBets' %}"><a href="#">My Bets</a></li>
            <!-- <li class="{% active request 'profile' %}"><a href="../profile">Profile</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class=""><a href="../about">About us</a></li> -->
            <li class="{% active request 'login' %}"><a href="../login">Login</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {# page content goes here #}
      {% block body %}{% endblock %}
    </div> <!-- /container -->
  </body>
</html>
