{% extends "base.html" %}
{% load tags %}

{% block title %} Goodbets | Home {% endblock title %}

{% block body %}
<div class='well'>
  <h1>Fulfill your bet with a donation</h1>
  <h2>If your challengee completed your challenge, show your appreciation.</h2>
  <h2><b>Make a donation.</b></h2>
  <div class='row'>
    <div class='col-md-4'><a class="btn btn-lg btn-primary" style="width:90%" href="http://www.womankind.org.uk/" role="button">Give to Womankind Worldwide</a></div>
    <div class='col-md-4'><a class="btn btn-lg btn-primary" style="width:90%" href="https://secure.feedingamerica.org/site/Donation2;jsessionid=3CF42C97652B322B6EDED2ACD544DEC7.app213b?df_id=15040&15040.donation=form1&s_src=W14BDIRCT&s_subsrc=http%3A%2F%2Fwww.feedingamerica.org%2F&_ga=1.259409864.312866929.1416466791" role="button">Give to Feeding America</a></div>
    <div class='col-md-4'><a class="btn btn-lg btn-primary" style="width:90%" href="https://donate.doctorswithoutborders.org/onetime.cfm" role="button">Give to Doctors Without Borders</a></div>
  </div>
</div>
<div class='well'>
  <div>
    <h1>Or, give back to the app that made it all happen.</h1>
    <a class="btn btn-lg btn-primary" href="https://venmo.com/Zoher-Ghadyali" role="button">Donate to GoodBets</a>
    <p>with Venmo</p>    
  </div>
</div>
{% endblock body %}
